* {
    box-sizing: border-box;
}
body {
    margin: 0;

}
nav {
    background-color: #c1c1c1;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    overflow: auto;


}

.left ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    padding: 0;
}

.logo {
    position: absolute;
    top: calc(-5%);
    left: calc(45%);
    font-family: 'Montserrat' ,sans-serif;
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    align-items: flex-start;
}
.right{
    display: flex;
    justify-content: flex-start;
}
.right ul{
    display: flex;
}

nav .right li{
    list-style-type: none;
}

a {
    color: black;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: blue;
}
/*Main body Content*/
#bg{
    position: relative;
    margin: auto;
    width: 100%;


}
/*Footer container with top and bottom containers*/
/*top container*/
.top-foot-cont {
    display: flex;
    justify-content: center;
    background-color: #696969;
    padding: 1em;
    overflow: auto;

}
.top-foot-cont p {
    align-self: center;
    font-size: 25px;
    margin: 1em 2em;
    height: auto;

}
button {
    background-color: #F46911;
    font-size:15px;
    border: none;
    margin: auto 0;
    border-radius: 2em;

}
button a{
    color: white;

}
/*bottom container in footer*/
.bot-foot-cont{
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: auto;


}
.bot-foot-cont ul, p, a{
    display: flex;
    margin: auto;
    padding: 1em;
    color: #9B9B9B;
    text-decoration: none;
    list-style-type: none;

}


/*.bot-foot-cont i, a, p{*/
/*    color: white;*/
/*    font-family: "work",sans-serif;*/
/*    */
/*}*/
