/*create rules for jumbotron and h1 to be hidden with small screens. */

.jumbotron{
    background: url("https://java.codeup.com/examples/bootstrap/pizza.png");

}
h1 {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 90px;
    width: calc(90% - 1em);
    padding: 0;
}
.jumbotron-fluid{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

}
h1 {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0;
    top: -100px;
    background-color: rgba(249, 249, 249, .5);

}