/*create rules for jumbotron and h1 to be hidden with small screens. */
.jumbotron{
    background: url("https://java.codeup.com/examples/bootstrap/pizza.png");

}
h1 {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 90px;
    width: calc(90% - 1em);
    padding: 0;
    background-color: rgba(249, 249, 249, .5);

}